body{
    height: 100%;
}
thead{
    background-color: greenyellow;
    color: white;
}
.boss{
    height: 600px;
    width: 320px;
/*    overflow: hidden;*/
    float: right;
}
.lichthi{
/*    overflow-y: scroll;*/
    height:600px;
    width: 320px;
    font-size: 12px;
    
}
.master{
    height: 400px;
    width: 320px;
    overflow: hidden;
    margin-left: 780px;
}
.rank{
    overflow-y: scroll;
    height:400px;
    width: 320px;
    font-size: 12px;
    padding-right: 400px;
}
