body{
    height: 100%;
    margin: 0;
    /* The image used */
    background-image: url("1.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: rgba(0,0,0,0.5); 
    color: white;
    text-align: center;
    margin-top: 100px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 300px;
   
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    color: white;
    outline: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.connect {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-decoration: none;
}
.connect::after {
    clear: both;
    content: "";
    display: table;
}
.connect:focus, .connect:hover, .connect:visited {
    color: #FFF;
    text-decoration: none;
}

.connect__context {
    vertical-align: middle;
    text-align: center;
}
.connect.facebook {
    background: #3b5998;
    color: #FFF;
}
.connect.facebook a {
    color: #FFF;
}

.connect.googleplus {
    background: #dd4b39;
    color: #FFF;
}
.connect.googleplus a {
    color: #FFF;
}
